<form action="/weights/new" method="post" class="form col-md-4 center-block" id="new_pros">
  <input type="text" name="weight[content]" class="form-control input-md" placeholder="Title" required />
  <br>
  <input type="checkbox" name="weight[pro]" value="Pro?">Pro?<br>
  <button type='submit' class="btn btn-primary btn-lg btn-block"> Add To Table </button>
</form>